@{
    ViewBag.Title = "The Team";
}

<section id="team">
    <div class="container">
        <h1>Team</h1>
        
        <div class="teambox">
            <figure>
                <img src="~/Content/images/dman.jpg" alt="Dmitry Antonenko / Pubwebkit founder" class="img-circle">
                <figcaption>
                    <a href="//hedgehog.com.ua">Dmitry Antonenko</a><br />
                    Founder, Enterprener 
                </figcaption>
            </figure>
        </div>
        <p>
            Currently the team is not so big <span class="icon-smile"></span> and I'll be happy to work with an ambitious and highly professional people together. 
            So, if you want to join the team, just @Html.Mailto("send me an email", "dmitry.antonenko@hystrix.com.ua") with brief information about yourself and a description of how you can help in the development of the project.
        </p>
    </div>
</section>