@{
    ViewBag.Title = "Roadmap";
}

<section id="roadmap">
    <div class="container">
        <h1>Project roadmap</h1>
        <p>Let's be Agile. This is a rough plan of how we go forward and could be changed during development.</p>
        <br />
        <dl class="dl-horizontal">
            <dt>Editor</dt>
            <dd>
                <small>Powerful editor to create your ebook in various styles. It's includes: Cover Designer, Template Editor, Community Snippets and more...</small><hr />
                <strong>Phase 1:</strong>
                <ul>
                    <li>Core architecture <span class="label label-success">Сompleted</span></li>
                    <li>Pagination <span class="label label-success">Сompleted</span></li>
                    <li>Caret navigation <span class="label label-success">Сompleted</span></li>
                    <li>Selection <span class="label label-success">Сompleted</span></li>
                    <li>Removing selection range <span class="label label-info">In progress</span></li>
                    <li>Basic functionalities for document formatting</li>
                    <li>Interaction with browser clipboard</li>
                    <li>Page header/footer <span class="label label-warning">50%</span></li>
                    <li>Spellchecking</li>
                    <li>Chapters (Navigation panel, Table of Contents)</li>
                    <li>Cover designer</li>
                </ul>
                <strong>Phase 2:</strong>
                <ul>
                    <li>Collaboration</li>  
                    <li>Template editor</li>
                    <li>Community snippets</li>
                </ul>
            </dd>
            
            <br />

            <dt>Portal</dt>
            <dd>
                <small>Online service that allows you to write / publish / sell electronic editions. Includes a powerful online editor for creating and preparing of electronic publications to be published.</small><hr />
                    <strong>Phase 1:</strong>
                    <ul>
                        <li>Promo site <span class="label label-success">Сompleted</span></li>
                        <li>User authentication</li>
                        <li>User profile</li>
                        <li>eBook sharing</li>
                        <li>Portal activity feed</li>
                        <li>Ranking system</li>
                    </ul>
                    <strong>Phase 2:</strong>
                    <ul>
                        <li>eBook store</li>
                        <li>Payment system</li>
                    </ul>
</dd>
        </dl>
    </div>

</section>
