@model Pubwebkit.Promo.Web.ViewModel.ContactMessageViewModel

<div>Name: <strong>@Model.Name</strong></div>
<div>Email: <strong>@Model.Email</strong></div>
<strong>Message:</strong>
<pre>@Model.Message</pre>